.filterButton {
	display: block;
	width: 100%;
	text-align: left;
	border: none;
	background-color: transparent;
	padding: var(--space-2) var(--space-3);
	font-family: var(--default-font-family);

	color: var(--gray-12);

	border-bottom: solid 1px var(--gray-a3);

	&:hover {
		background-color: var(--accent-a4);
	}

	&:focus,
	&:active {
		background-color: var(--accent-a8);
		outline: none;
	}

	&:last-child {
		border-bottom: none;
	}
}
