:root {
	--amll-font-family:
		"SF Pro Display", "PingFang SC", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-family: var(--amll-font-family);
	font-size: 12px;

	color: white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	background-color: var(--color-background, transparent);
}

body {
	margin: 0;
	padding: 0;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
	overflow: hidden;
	padding-bottom: 5em;

	&[data-amll-lyrics-open] {
		overflow: hidden !important;
		overscroll-behavior: contain;
		position: relative !important;
		padding-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		margin-left: 0;
		margin-top: 0;
		margin-right: 17px !important;
	}
}

::-webkit-scrollbar-track {
	background: transparent;

	&:hover {
		background: transparent;
	}
}

::-webkit-scrollbar {
	background-color: transparent;
	width: 20px;
}

::-webkit-scrollbar-thumb {
	border: solid 6px transparent;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.0509803922), inset 0 0 0 6px
		rgba(255, 255, 255, 0.1137254902);
	border-radius: 10px;
	background: transparent;
	min-height: max(5%, 5vh, 5vw);

	&:hover {
		background: transparent;
	}
}

.img-border {
	box-shadow: 0 0 0 1px var(--base-card-classic-border-color);
}
