.container {
	max-width: 800px;
	margin: auto;
	overflow: hidden;
	min-height: 0;
	height: 100%;

	transition: padding-left 0.25s, padding-right 0.25s;

	padding-left: var(--space-4);
	padding-right: var(--space-4);

	@media screen and (min-width: 768px) {
		padding-left: var(--space-9);
		padding-right: var(--space-9);
	}
}
